<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="subscriptionManageMapper">  
  
    <resultMap type="SubscriptionRecord" id="subscriptionResultMap">
        <id property="subscriptionId" column="subscriptionId"/>
        <result property="userId" column="userId"/>  
        <result property="productId" column="productId"/>
        <result property="status" column="status"/>
        <result property="subscriptionTime" column="subscriptionTime"/>
        <result property="unsubscribeTime" column="unsubscribeTime"/>
        <result property="message" column="message"/>
        <result property="totalCount" column="totalCount"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="address" column="address"/>
    </resultMap>  
    
    <select id="queryByCondition" parameterType="SubscriptionFilter" resultType="SubscriptionRecord" resultMap="subscriptionResultMap">
  		select * from T_SUBSCRIPTION where 1=1 
  		<if test="status != -1 ">
        	and status = #{status}
    	</if>
    	
    	<if test="userId != null and userId != '' ">
        	and userId = #{userId}
    	</if>
    		Order by subscriptionTime desc  	
    </select>
    
     <delete id="deleteSbuscriptionById"  parameterType="SubscriptionRecord" >
    		delete from t_subscription where subscriptionId = #{subscriptionId}
    </delete>
    
    <select id="queryOneById" parameterType="SubscriptionRecord" resultType="SubscriptionRecord" resultMap="subscriptionResultMap">
  		select * from T_SUBSCRIPTION where subscriptionId = #{subscriptionId}
    </select>    

    <insert id="insert" parameterType="SubscriptionRecord">
    	insert into T_SUBSCRIPTION (subscriptionId,userId,productId,status,subscriptionTime,unsubscribeTime,message,totalCount,totalPrice,address)
    	values (#{subscriptionId},#{userId},#{productId},#{status},#{subscriptionTime},#{unsubscribeTime},#{message},#{totalCount},#{totalPrice},#{address})
    </insert>
           
    <update id="update" parameterType="SubscriptionRecord">
    	update T_SUBSCRIPTION set status=#{status},unsubscribeTime=#{unsubscribeTime},message=#{message},totalCount=#{totalCount},totalPrice=#{totalPrice},address=#{address}
    	where subscriptionId=#{subscriptionId}
    </update>          
     
    <select id="querySubList" parameterType="SubscriptionFilter" resultType="SubscriptionRecord" resultMap="subscriptionResultMap">
  		select * from T_SUBSCRIPTION where status = #{status} and userId = #{userId}
  		
    	</select>
    <select id="querySbuscriptionAndUser" resultType="SubscriptionResult">
		select 
		s.subscriptionId,
		s.subscriptionTime,
		
		u.userId,
		u.userName,
		
		p.productName,
		s.status,
		
		s.message 
		from 
		
		t_subscription as s JOIN
		t_product as p ON s.productId = p.productId 
		JOIN t_user as u ON u.userId = s.userId
		
    </select>
    <select id="querySbuscriptionNoCompl" resultType="SubscriptionResult">
		
		select 
		s.subscriptionId,
		s.subscriptionTime,
		
		u.userId,
		u.userName,
		
		p.productName,
		s.status,
		
		s.message 
		from 
		
		t_subscription as s JOIN
		t_product as p ON s.productId = p.productId 
		JOIN t_user as u ON u.userId = s.userId and s.status != 5 and s.status != 6
    </select>
    
   <select id="querySbuscriptionByName" resultType="SubscriptionResult">
   		select 
		s.subscriptionId,
		s.subscriptionTime,
		
		u.userId,
		u.userName,
		
		p.productName,
		s.status,
		
		s.message 
		from 
		
		t_subscription as s JOIN
		t_product as p ON s.productId = p.productId 
		JOIN t_user as u ON u.userId = s.userId and u.userName like '%${userName}%'
   </select>
    
</mapper>